
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
/* Layout */
body{

}
.logo-img {
  text-align: center;
  padding: 50px 0 100px 0;
  margin: 0;
}
.ba-header{
  height: 75vh;
  background-color: #23232e;
  position: relative;
}
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
}
.i-love-design{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
h1{
  font-size: 80px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.375;
  text-align: center;
  padding-bottom: 40px;

}
.about-me{
  font-size: 18px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  line-height: 1.667;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  
}
.logo-img{
  display: block;
  margin: 0 auto;
}
.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  top: 700px;
  margin: auto;
  border-radius: 50%;
}
.about{
  max-width: 1000px;
  font-size: 30px;
  font-family: "Segoe UI";
  color: rgb(70, 75, 79);
  line-height: 1.4;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}
main{
  background-image: url("../fon.png");
}
h2{
  font-size: 80px;
  font-family: "Segoe UI";
  color: rgb(70, 75, 79);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.45;
  text-align: center;
  margin: 0 auto;
}